html,
body,
+{
    padding 0
    margin: 0
    box-sizing: border-box
    font-size: 62.5%
  }

 body {
   background-color:rgb(245, 248, 255);
 }

 .header-title {
  font-size: 50px;
  font-family: 'Bitter', serif;
  color:rgb(99, 150, 216);
  -webkit-animation: title 10s linear infinite, bg 10s linear infinite;
  display: inline-block;
  border
}

.header {
  text-align: center;
}

@-webkit-keyframes title {
  0% {
    color: rgb(123, 213, 255);
  }
  50% {
    color: #62a0f1;
  }
  100% {
    color: rgb(128, 156, 248);
  }
}

 .pet {
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-evenly;
    border: 3px solid rgb(159, 193, 236);
    background-color: rgb(224, 234, 255);
    font-family: 'Bitter', serif;
    color:rgb(99, 150, 216);
    box-shadow: 1px 8px 10px rgb(144, 180, 214);
    width: 20rem;
    height: 34.5rem;
}

 .rem-size{
    font-size: 2rem;
}
.button1 {
  border: 1;
  border-color: rgb(99, 150, 216);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  transition-duration: 1s;
}

.button1:hover {
  background-color: rgb(181, 227, 255);
  transform: scale(1.5);
}

.button2 {
  border: 1;
  border-color: rgb(99, 150, 216);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  transition-duration: 1s;
}

.button2:hover {
  background-color: rgb(139, 211, 255);
  transform: scale(1.3);
}

.button3 {
  border: 1;
  border-color: rgb(99, 150, 216);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  transition-duration: 1s;
}

.button3:hover {
  background-color: rgb(112, 200, 255);
  transform: scale(1.1);
}

.button4 {
  border: 1;
  border-color: rgb(99, 150, 216);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  transition-duration: 1s;
}

.button4:hover {
  background-color: rgb(194, 215, 255);
  border-radius: 15px;
}

.button5 {
  border: 1;
  border-color: rgb(99, 150, 216);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  transition-duration: 1s;
}

.button5:hover {
  background-color: rgb(153, 189, 255);
  border-radius: 13px;
}

.button6 {
  border: 1;
  border-color: rgb(99, 150, 216);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  transition-duration: 1s;
}

.button6:hover {
  background-color: rgb(126, 171, 255);
  border-radius: 11px;
}

.button7 {
  border: 1;
  border-color: rgb(99, 150, 216);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  transition-duration: 1s;
}

.button7:hover {
  background-color: rgb(164, 232, 255);
  letter-spacing: 7px;
}

.button8 {
  border: 1;
  border-color: rgb(99, 150, 216);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  transition-duration: 1s;
}

.button8:hover {
  background-color: rgb(144, 227, 255);
  letter-spacing: 5px;
}

.button9 {
  border: 1;
  border-color: rgb(99, 150, 216);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  transition-duration: 1s;
}

.button9:hover {
  background-color: rgb(113, 220, 255);
  letter-spacing: 3px;
}
 @media screen and (max-width:600px) {
  .container{
   flex-direction: column;
  }
  .pet{
   width: 100%;
   height: 100%;
  }
  .main-header{
   font-size: 20px;
  }
}
 @media screen and (max-width:900px) {
  .menu-container{
   flex-direction: row;
  }
  .pet {
   width: 100%;
   height: 100%;
  }
}

@media screen and (max-width:1200px) {
  .menu-container{
   flex-direction: row;
  }
  .pet {
   width: 100%;
   height: 100%;
  }
}
  
 .container {
   display: flex;
   justify-content: space-evenly;
   text-align: center;
 }
