html,
body,
+{
    padding 0
    margin: 0
    box-sizing: border-box
    font-size: 62.5%
  }

 body {
   background-color:rgb(245, 248, 255);
 }

 .header-title {
  font-size: 50px;
  font-family: 'Bitter', serif;
  color:rgb(99, 150, 216);
  -webkit-animation: title 10s linear infinite, bg 10s linear infinite;
  display: inline-block;
  border
}

.header {
  text-align: center;
}

@-webkit-keyframes title {
  0% {
    color: rgb(123, 213, 255);
  }
  50% {
    color: #62a0f1;
  }
  100% {
    color: rgb(128, 156, 248);
  }
}

 .pet {
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-evenly;
    border: 3px solid rgb(159, 193, 236);
    background-color: rgb(224, 234, 255);
    font-family: 'Bitter', serif;
    color:rgb(99, 150, 216);
    box-shadow: 1px 8px 10px rgb(144, 180, 214);
    width: 20rem;
    height: 34.5rem;
}

 .rem-size{
    font-size: 2rem;
}
.button1 {
  border: 1;
  border-color: rgb(99, 150, 216);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  transition-duration: 1s;
}

.button1:hover {
  background-color: rgb(181, 227, 255);
  transform: scale(1.5);
}

.button2 {
  border: 1;
  border-color: rgb(99, 150, 216);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  transition-duration: 1s;
}

.button2:hover {
  background-color: rgb(139, 211, 255);
  transform: scale(1.3);
}

.button3 {
  border: 1;
  border-color: rgb(99, 150, 216);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  transition-duration: 1s;
}

.button3:hover {
  background-color: rgb(112, 200, 255);
  transform: scale(1.1);
}

.button4 {
  border: 1;
  border-color: rgb(99, 150, 216);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  transition-duration: 1s;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
}

.button4:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}

.button5 {
  border: 1;
  border-color: rgb(99, 150, 216);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  transition-duration: 1s;
}

.button5:hover {
  background-color: rgb(153, 189, 255);
  border-radius: 13px;
}

.button6 {
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s ease-in-out;
}

.button6:before{
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}


.button6:hover {
  background-color: rgb(126, 171, 255);
  background-position: 0;
}

.button6:hover::before{
  width: 100%;
}
.button7 {
  border: 1;
  border-color: rgb(99, 150, 216);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  transition-duration: 1s;
}

.button7:hover {
  background-color: rgb(164, 232, 255);
  letter-spacing: 7px;
}

.button8 {
  border: 1;
  border-color: rgb(99, 150, 216);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(172, 214, 253);
  margin-bottom: 10px;
  margin-top: 5px;
  transition-duration: 1s;
}

.button8:hover {
  background-color: rgb(144, 227, 255);
  letter-spacing: 5px;
}

.button9 {
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 65px;
  background-color: rgb(172, 214, 253);
  align-self: center;
  overflow: hidden;
  position: relative;
  display: inline-block;
  transition-duration: 1s;
  margin-bottom: 10px;
  margin-top: 5px;
}

.button9::before,
.button9::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
.button9::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.button9::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #54b3d6;
}

.button9:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.button9:hover::after {
  transform: translate3d(0, 0, 0);
}

.button9 span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.button9:hover span {
  transform: translate3d(-200%, 0, 0);
}

 @media screen 
 and (max-width:600px) {
  .container{
   flex-direction: column;
  }
  .pet{
   width: 100%;
   height: 100%;
  }
  .main-header{
   font-size: 20px;
  }
}

@media only screen 
and (min-device-width : 820px) 
and (max-device-width : 1080px) 
and (orientation : landscape) {
   .container{
   flex-direction: row;
  }
  .pet{
   width: 100%;
   height: 100%;
  }
  .main-header{
   font-size: 20px;
  }
 }

@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px) {
  .menu-container{
   flex-direction: row;
  }
  .pet {
   width: 100%;
   height: 100%;
  }
}
  
 .container {
   display: flex;
   justify-content: space-evenly;
   text-align: center;
 }
